*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color:#001;
    display: flex;
    height: 90vh;
    width: 100vw;

}




.menu{
    background-color: #123;
    width: 60px;
   height: 100%;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    gap: 40px;
    align-items: center;
    transition: 0.5s;

}
ul li a:hover, .active , .box:hover, td:hover{
    background-color: #ffffff55;
}


ul li a i{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}



/* section 1  parametre-entre*/
#parametre-entre{
    width: 99%;
    height: 30em;
    /* border: 0.1em solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

.container-entre{
    width: 90%;
    height: 90%;
    border: 0.1em solid;
    border-radius: 1em;
    box-shadow: 3px -3px white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
   
}
/* debut du premier tableau : parametre entrée */
.space-calcule{
    width: 80%;
    height: 70%;
    border: 0.1em solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
}
.space-calcule .input-data, .space-calcule .resultats{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0.1em solid; */
    padding: 0.2em;
    
}

.space-calcule .input-data label{
    font-size: 1.3rem;
}
.space-calcule .input-data input{
    padding: 0.5em;
    outline: blue;
    border-radius: 1em;
    color: black;
    font-size: 1.1rem;
}
.resultats{
    flex-grow: 0.5;
}

.resultats div{
    width: 40%;
    height: 80%;
    /* border: 0.1em solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultats div label{
    font-size: 1.3rem;
    color: white;
}
.resultats div input{
    color: black;
    padding: 0.4em;
    outline: none;
    font-weight: bold;
}

/* fin du premier tableau parametre entrée */

/* debut du second tableau : Calcul des débits recquis en DL/UL pour les Smartphones et les "Data Card" (Cartes Données) */
/* Navigation : du second tableau  */

.nav-tableau-2{
    width: 90%;
    height: 8%;
    /* border: 0.1em solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-tableau-2 button{
    width: 40%;
    height: 90%;
    border-radius: 1em;
    background-color: black;
    outline: none;
}
.border-bottom{
    border-bottom: 0.1em solid;
}
/* fin de la navigation tableau 1 */

/* start tab 1 de la partie calcule debit */
.content-tab1{
    width: 95%;
    height: 88%;
    border: 0.1em solid;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2em;
   
}

#table1{
    width: 100%;
    height: 100%;
    
}
#table2{
    width: 100%;
    height: 100%;

  

}
#table1 h4, #table2 h4{
  width: 100%;
  text-align: center;
  padding: 0.8em;
  font-size: 1.3rem;
  
}




  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
    border-radius: 5px;
    overflow: auto;
    transition: all 500ms ease-in-out;
    
    
  }


  table thead th {
    padding: 10px 16px;
    text-align: left;
    /* background-color: #f3f3f5; */
  }
  table tbody tr td {
    padding: 5px 4px;
    border-bottom: 1px solid #eee;
  }
  /* table tbody tr .action {
    display: flex;
  } */
  /* table tbody tr .action button {
    margin-right: 10px;
    cursor: pointer;
    background-color: #f3f3f5;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
  } */
  table tbody tr .action button:last-child {
    margin-right: 0;
  }
  table .res-head {
    display: none;
  }

  .input{
    outline: none;
    padding: 0.3em;
    color: black;
  }

  .sommeVolume{
    height: 20%;
    width: 107%;
  }
  .sommeVolume div{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 16px;
  }
  .sommeVolume div label{
    flex-grow: 0.9;
    text-align: center;
  }
  .sommeVolume div input{
    margin-left: 0.3em;
    width: 18%;
  }

 
  @media screen and (max-width: 767px) {
    table {
      background-color: transparent;
      box-shadow: none;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      background-color: #fff;
      padding: 50px 10px 10px 10px;
      position: relative;
      box-shadow: rgba(185, 188, 191, 0.2) 0px 0px 24px 5px;
    }
    table tbody tr td {
      display: flex;
      background-color: transparent;
      padding: 0;
      margin-bottom: 5px;
      margin-right: 16px;
      border: none;
      flex-wrap: wrap;
    }
    table tbody tr td .res-head {
      display: block;
      font-weight: 700;
      margin-right: 5px;
    }
    table tbody tr td:first-child {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    table tbody tr .action {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  

/* end tab1  de la partie calcule debit*/

/* start tab : container-trafic-total */

.container-trafic-total{
  width: 90%;
  height: 90%;
  border: 0.1em solid;
  overflow: scroll;
  gap: 0.5em;
}
.container-trafic-total div:first-child, .container-trafic-total div:last-child{
  width: 100%;
  height: 90%;
  border: 0.1em solid;
}
.container-trafic-total div h4{
  text-align: center;
  padding: 0.3em;
}
/* end tab : container-trafic-total */


/* Modal */

.modal button {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: solid 1px transparent;
  font-weight: bold;
}
.btn-close {
  background: #ffc8dd;
  color: #0b0b00;
  width: 100%;
}

.dialog {
  border: none;
  border-radius: 0.25rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 400px;
  text-align: center;
  color: black;
}

.icon {
  font-size: 4rem;
}

.text-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* content-nombre-totale-operation-procedure-signalisation */

.content-nombre-totale-operation-procedure-signalisation{
  width: 90%;
  height: 80%;
  border: 0.1em solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */

}

.content-nombre-totale-operation-procedure-signalisation div:first-child{
  width: 90%;
  height: 25%;
  /* border: 0.1em solid; */
}
.abonnee-utilisateur-actif{
  width: 90%;
  height: 20%;
  /* border: 0.1em solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.abonnee-utilisateur-actif div{
  width: 90%;
  height: 40%;
  /* border: 0.1em solid; */
  display: flex;
  justify-content: center;
  align-items:center;
}
.abonnee-utilisateur-actif div label{
  flex-grow: 0.5;
}
#content-table-nombre-totale-operation{
  height: 60%;
  overflow: scroll;
}






/* fin : content-nombre-totale-operation-procedure-signalisation */

/* debut container-dimensionnement-plan-user  */

.container-dimensionnement-plan-user{
  width: 90%;
  height: 90%;
  border: 0.1em solid;
  overflow: scroll;
}
.container-dimensionnement-plan-user h4{
  text-align: center;
  width: 100%;
}

.container-dimensionnement-plan-user div{
  width: 100%;
  height: 100%;
  /* border: 0.1em solid; */
  display: flex;
  justify-content: space-around;
}

.content-table div{
  width: 30%;
  height: 100%;
  /* border: 0.1em solid; */
  flex-grow: 0.3;
}
.content-table div h5{
  text-align: center;
  font-size: 1.3rem;
}
/* fin  container-dimensionnement-plan-user*/

.content-capacite-interface{
  width: 100%;
  height: 94%;
  border: 0.1em solid ;
}